.back-green {
  background-color: #08ff08;
}

.back-orange {
  background-color: #ffa500;
}

.back-yellow {
  background-color: #f6bd00f7;
}

.back-green:hover {
  cursor: pointer;
  background-color: #a2f572;
}

.back-orange:hover {
  cursor: pointer;
  background-color: #feb938;
}

.back-yellow:hover {
  background-color: #ffd95b;
}
