.NavStyle {
  background-color: #0052d4;
}

.NavStyle li {
  color: #fff;
}

.NavStyle li:hover {
  cursor: pointer;
}

.newLink {
  color: #fff;
  text-decoration: none;
}

.newLink:hover {
  color: #fff;
  text-decoration: none;
}

.pointer {
  cursor: pointer !important;
}

.top-module a {
  color: black;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
  background: #fff;
  display: block;
  font-size: 12px;
}

.top-module a.active {
  background: #ffc000;
}

.top-module {
  margin-right: 5px;
  min-width: 110px;
  text-align: center;
}
