.css-1h65th5-ButtonBase {
  background-color: #6c757d !important;
  height: 2.39em !important;
}

.css-1h65th5-ButtonBase:hover {
  background-color: #5a6268 !important;
}

.css-7no60z-ButtonBase {
  color: #fff !important;
  font-size: 0.875rem;
}

.css-bula3r-ButtonBase {
  color: #fff !important;
  font-size: 0.875rem;
}

.css-iuba1a-ButtonBase:hover {
  background-color: #5a6268 !important;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
