.MuiFormControlLabel-root {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

label {
    margin-bottom: 0 !important;
}

.sticky-content {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: #ffe4c4;
    color: #FFFFFF;
    padding: 3rem 20px;
}
.sticky-content-title {
    margin: 0;
}