.sidebar2 ul {
  margin: 0;
  padding: 0;
}

.sidebar2 ul li {
  list-style: none;
}

.sidebar2 ul li a {
  color: #fff;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
}

.sidebar2 ul li a.active {
  background: #333;
  color: #ffc000;
}

.sidebar2 {
  background-color: #595959;
  box-shadow: 0 0 5px gray;
  /* min-height: 100%; */
}
